{% extends 'base.html.twig' %}

{% block title %}Todo app{% endblock %}

{% block body %}
        {% if app.user != null %}
                <div id="app" user-data="{{ app.user.serialize() }}"></div>
        {% endif %}
        {% if app.user == null %}
                <div id="app"></div>
        {% endif %}
{% endblock %}
